@model WarehouseSystem.Models.ViewModel.PalletEditViewModel

@{
    ViewBag.Title = "PalletEdit";
}
<script>
    function setRFIDNumberEditable() {
        $('#RFIDNumber').editable({
            ajaxOptions: {
                dataType: 'json' //assuming json response
            },
            value: '',
            source: [
                @foreach (var item in Model.RFIDList)
                {
                        <text>{ value: '@item.RFIDID', text: '@item.RFIDNumber' },</text>
                }
            ],
            success: function (response, newValue) {
                $('#LastUpdateTime').html(response['Result'].LastUpdateTime);
            }
        });
    };

    function setPalletTypeEditable() {
        $('#PalletType').editable({
            ajaxOptions: {
                dataType: 'json' //assuming json response
            },
            value: '',
            source: [
                @foreach (var item in Model.PalletTypeList)
                {
                    <text>{ value: '@item.PalletTypeID', text: '@item.TypeName (@item.TypeCode)' },</text>
                }
            ],
            success: function (response, newValue) {
                $('#LastUpdateTime').html(response['Result'].LastUpdateTime);
            }
        });
    };

    $.fn.editable.defaults.mode = 'inline';

    $(document).ready(function () {
        // x-editable for user table
        $('#PalletNumber, #Description').editable({
            ajaxOptions: {
                dataType: 'json' //assuming json response
            },
            success: function (response, newValue) {
                $('#LastUpdateTime').html(response['Result'].LastUpdateTime);
            }
        });

        setRFIDNumberEditable();
        setPalletTypeEditable();
    });

</script>

<div class="wrapper">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>棧板管理<small>棧板資料編輯</small></h1>
            <ol class="breadcrumb">
                @*<li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
                <li class="active">棧板管理</li>*@
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="box box-success">
                        <div class="box-header with-border">
                            <h3 class="box-title">編輯棧板資料</h3>
                        </div><!-- /.box-header -->

                        <div class="box-body">
                            <table class="table table-striped table-hover table-bordered" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th class="col-md-4">屬性</th>
                                        <th class="col-md-8">設定值</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr><td>棧板編號</td><td><a href="#" id="PalletNumber" data-type="text" data-pk="@Model.Pallet.PalletID" data-url="@Url.Content("PalletUpdate")" data-title="輸入棧板編號">@Model.Pallet.PalletNumber</a></td></tr>
                                    <tr>
                                        <td>棧板類別</td>
                                        <td><a href="#" id="PalletType" data-name="PalletTypeID" data-type="select" data-pk="@Model.Pallet.PalletID" data-url="@Url.Content("PalletUpdate")" data-title="選擇棧板類別">@Model.PalletTypeName (@Model.PalletTypeCode)</a></td>
                                    </tr>
                                    <tr>
                                        <td>RFID編號</td>
                                        <td><a href="#" id="RFIDNumber" data-name="RFIDID" data-type="select" data-pk="@Model.Pallet.PalletID" data-url="@Url.Content("PalletUpdate")" data-title="選擇RFID編號">@Model.RFIDNumber</a></td>
                                    </tr>
                                    <tr><td>描述</td><td><a href="#" id="Description" data-type="text" data-pk="@Model.Pallet.PalletID" data-url="@Url.Content("PalletUpdate")" data-title="">@Model.Pallet.Description</a></td></tr>
                                    <tr><td>建立時間</td><td>@Model.Pallet.CreateTime</td></tr>
                                    <tr><td>最新異動時間</td><td id="LastUpdateTime">@Model.Pallet.LastUpdateTime</td></tr>
                                </tbody>
                            </table>
                        </div>
                    </div><!-- /.box -->
                </div>
            </div>
        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
</div><!-- ./wrapper -->