@model IEnumerable<WarehouseSystem.Models.ViewModel.POS_SupplierViewModel>

@{
    ViewBag.Title = "List";
}

<script>

    var toDeleteUserId;

    function storeId(userId) { toDeleteUserId = userId; };

    $(function () {
        function deleteUser() {
            $.ajax({
                type: "DELETE",
                url: "@Url.Content("~/POS_Supllier/Delete")",
                data: $.param({ "SupID": toDeleteUserId }),

            }).done(function (msg) {
                $("#" + toDeleteUserId).remove();
            })
        };

        $('#myModal .modal-footer button').on('click', function (e) {
            var $target = $(e.target);
            if ($target.index() == 1) {
                deleteUser();
            }
        });
    });

    $(document).ready(function () {
        $('#POSSupplierEditTable').DataTable({
            "paging": true,
            "info": true,
            "searching": true,
            "columnDefs": [
                { "targets": 0, "width": "10%", "orderable": true },
                { "targets": 1, "width": "10%", "orderable": false },
                { "targets": 2, "width": "10%", "orderable": false },
                { "targets": 3, "width": "10%", "orderable": false },
                { "targets": 4, "width": "15%", "orderable": false },
                { "targets": 5, "width": "15%", "orderable": false },
                { "targets": 6, "width": "15%", "orderable": false },
                { "targets": 7, "width": "10%", "orderable": false }
            ],
        });
    });
</script>

<div class="content-wrapper">
    <section class="content-header">
        <h1>供應商管理<small>供應商列表</small></h1>
        <ol class="breadcrumb">
            @*<li><a href="#"><i class="fa fa-dashboard"></i>home</a></li>
                <li class="active">帳號管理</li>*@
        </ol>
    </section>

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <a href="@Url.Action("Create")"><button class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-plus"> 新增</i></button></a>
                </div>
                <div class="box-body">
                    <table id="POSSupplierEditTable" class="row-border" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>供應商編號</th>
                                <th>供應商名稱</th>
                                <th>聯絡人</th>
                                <th>聯絡人職稱</th>
                                <th>電話</th>
                                <th>傳真</th>
                                <th>電郵</th>
                                <th>操作選項</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                <tr id="@item.SupplierProfile.SupID">
                                    <td>@item.SupplierProfile.SupID</td>
                                    <td>@item.SupplierProfile.CompanyName</td>
                                    <td>@item.SupplierProfile.ContactName</td>
                                    <td>@item.SupplierProfile.ContactTitle</td>
                                    <td>@item.SupplierProfile.Phone</td>
                                    <td>@item.SupplierProfile.Fax</td>
                                    <td>@item.SupplierProfile.EMail</td>
                                    <td>
                                        <a href="@Url.Action("Edit", new { SupID = item.SupplierProfile.SupID })">
                                            <button class="btn btn-sm btn-primary">
                                                <i class="glyphicon glyphicon-list-alt"></i>
                                            </button>
                                        </a>
                                        <a href="#" data-toggle=modal data-target=#myModal>
                                            <button class="btn btn-sm btn-danger" onclick="storeId('@item.SupplierProfile.SupID')">
                                                <i class="glyphicon glyphicon-remove"></i>
                                            </button>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal modal-success" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">刪除確認</h4>
                </div>
                <div class="modal-body">
                    <p>是否刪除此使用者？刪除此使用者會將一併刪除所有的相關資料。</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">否</button>
                    <button id="modalYes" type="button" class="btn btn-outline" data-dismiss="modal">是</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>

